body{
    -webkit-animation: colorchange 60s infinite;
    animation: colorchange 60s infinite;
}

@-webkit-keyframes colorchange {
    0% {background:rgb(137, 255, 247);}
    25% {background: #ff7c6d;}
    50% {background: rgb(74, 196, 171);}
    75% {background: rgb(233, 150, 94);}
    100% {background: #d28aee;}
}

@keyframes colorchange {
    0% {background:rgb(137, 255, 247);}
    25% {background: #ff7c6d;}
    50% {background: rgb(74, 196, 171);}
    75% {background: rgb(233, 150, 94);}
    100% {background: #d28aee;}
}

.output {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 14px 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}    
.output:hover {
    background-color: black;
    color: transparent; 
} 

.reset {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    font-size: 20px;
    padding: 14px 40px;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.reset:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
