body{
    -webkit-animation: colorchange 60s infinite;
    animation: colorchange 60s infinite;
}

@-webkit-keyframes colorchange {
    0% {background:rgb(137, 255, 247);}
    25% {background: #ff7c6d;}
    50% {background: rgb(74, 196, 171);}
    75% {background: rgb(233, 150, 94);}
    100% {background: #d28aee;}
}

@keyframes colorchange {
    0% {background:rgb(137, 255, 247);}
    25% {background: #ff7c6d;}
    50% {background: rgb(74, 196, 171);}
    75% {background: rgb(233, 150, 94);}
    100% {background: #d28aee;}
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
